body { 
font-family: Arial; 
padding: 20px; 
background: #f4f4f4;
}

h2 { 
margin-top: 30px; 
}
input, button, select {
margin: 5px 0; 
padding: 8px;
}

table { 
width: 100%; 
margin-top: 20px; 
border-collapse: collapse; 
background: #fff; 
}

th, td { 
border: 1px solid #ccc; 
padding: 8px; 
text-align: left;
}

th {
background: #eee;
}

.success {
color: green; 
}

.error {
color: red; 
}

a {
text-decoration: none; color: blue;

}
form { 
background: #fff; 
padding: 15px; 
border-radius: 6px; 
box-shadow: 0 0 4px #ccc;
}

 
table {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: auto;
    }

    td, th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    tr:nth-child(even) { background-color: #f2f2f2; }
    tr:hover { background-color: #ddd; }

    th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #04aa6d;
      color: white;
    }

    .top-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }

.low-stock {
    color: red;
    font-weight: bold;
}

input[type="submit"] {
    background: red;
    color: white;
    padding: 4px 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}


.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn:hover {
    background: darkred;
}

.low-stock {
    color: red;
    font-weight: bold;
}
