body { 
  font-family: Arial; 
  padding: 20px; 
  background: #f4f4f4;
}

h2 { 
  margin-top: 30px; 
}

input, button, select {
  margin: 5px 0; 
  padding: 8px;
}

table { 
  width: 100%; 
  margin-top: 20px; 
  border-collapse: collapse; 
  background: #fff; 
  font-family: Arial, Helvetica, sans-serif;
}

th, td { 
  border: 1px solid #ccc; 
  padding: 8px; 
  text-align: left;
}

tr:nth-child(even) { 
  background-color: #f2f2f2; 
}

tr:hover { 
  background-color: #ddd; 
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.low-stock {
  color: red;
  font-weight: bold;
}

.success { color: green; }
.error { color: red; }

a {
  text-decoration: none; 
  color: blue;
}

form { 
  background: #fff; 
  padding: 15px; 
  border-radius: 6px; 
  box-shadow: 0 0 4px #ccc;
  margin-bottom: 20px;
}


.delete-btn {
  all: initial !important; 
  background: #ff3333 !important;
  color: white !important;
  padding: 6px 12px !important;
  border: none !important;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  display: inline-block !important;
}

.delete-btn:hover {
  background: #cc0000 !important;
}

table td:last-child {
  min-width: 100px; 
}

.top-bar {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 20px;
}

.edit-btn {
  all: initial !important; 
  background: #24bf51!important;
  color: white !important;
  padding: 60px 12px !important;
  border: none !important;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  display: inline-block !important;
}
